* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  font: 300 16px/100% 'Arial', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

[sidebarjs] .img {
  display: block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  margin-right: 16px;
  opacity: .8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img.github {
  background-image: url('./img/github.png');
}

.img.npm {
  background-image: url('./img/npm.png');
}

.img.author {
  background-image: url('./img/code.png');
}

.img.wiki {
  background-image: url('./img/wiki.png');
}

.img.bugs {
  background-image: url('./img/bugs.png');
}

/* –––––––––––––––––––––––––––––––––––––––
                Basic Demo
–––––––––––––––––––––––––––––––––––––––– */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 12px;
  height: 56px;
  background: #2196F3;
}

.icon {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background .1s;
}

.icon:active {
  background: rgba(255, 255, 255, .2);
}

.hamburger-icon:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 70%;
  height: 2px;
  border-radius: 2px;
  background: #FFF;
  box-shadow: 0 -6px 0 #FFF, 0 6px 0 #FFF;
}

[sidebarjs] .large-img {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 110px;
  height: 110px;
  margin: auto;
}

header h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 22px;
  margin: auto;
  font: 300 22px/100% 'Arial', sans-serif;
  color: #FFF;
  cursor: default;
  text-align: center;
}

/* –––––––––––––––––––––––––––––––––––––––
              Advanced Demo
–––––––––––––––––––––––––––––––––––––––– */
[sidebarjs] * {
  font: 300 16px/100% 'Arial', sans-serif;
}

[sidebarjs] h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  min-height: 180px;
  padding: 16px;
  background: #2196F3;
  color: #FFF;
  font-size: 40px;
}

[sidebarjs] nav {
  overflow-x: hidden;
  overflow-y: auto;
}

[sidebarjs] nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

[sidebarjs] nav > div:first-child {
  border-top: none;
}

[sidebarjs] nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  color: rgba(0, 0, 0, .64);
  padding: 16px;
  transition: background 0.3s ease;
}

[sidebarjs] nav a:active {
  color: inherit;
  background: rgba(0, 0, 0, .1);
}

#selected {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 110px;
  height: 84px;
}

#selected .img {
  margin: auto;
  width: 64px;
  height: 64px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#selected .label {
  text-align: center;
  padding: 12px;
}

.basic {
  position: absolute;
  right: 0;
  bottom: 16px;
  left: 0;
  margin: auto;
  text-align: center;
  color: #2196F3;
  font-size: 12px;
  line-height: 140%;
}

section {
  padding: 16px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  padding: 0 20px;
  font-size: 90%;
}

input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #2196F3;
  background-color: #2196F3;
  box-shadow: inset 0 0 0 9px white;
  -webkit-transition: all .3s ease;
  -miz-transition: all .3s ease;
  transition: all .3s ease;
}

input[type="radio"]:checked + label:before {
  box-shadow: inset 0 0 0 3px white;
}

h2 {
  margin: 12px 0;
}

@media (min-width: 1025px) {
  [sidebarjs-toggle="rightSidebarName"] {
    margin-left: auto;
  }

  [sidebarjs-toggle="leftSidebarName"], [sidebarjs-toggle=""] {
    display: none;
  }
}
