* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(black, 0);
  -moz-tap-highlight-color: rgba(black, 0);
  tap-highlight-color: rgba(black, 0);
}
header {
  position: relative;
  padding: 12px;
  background: #2196F3;
}
.icon {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: background .1s;
}
.icon:active {
  background: rgba(255,255,255, .2);
}
.hamburger-icon:before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  width: 70%;
  height: 2px;
  border-radius: 2px;
  background: #FFF;
  box-shadow: 0 -6px 0 #FFF, 0 6px 0 #FFF;
}
.github {
  position: absolute;
  top: 48%; left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 110px;
  height: 110px;
  margin: auto;
  background: url('github.png') no-repeat center center;
  background-size: cover;
}
header h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 22px;
  margin: auto;
  font: 300 22px/100% 'Arial', sans-serif;
  color: #FFF;
  cursor: default;
  text-align: center;
}
