@import "compass";
@import "compass/css3";

$timing: ease;
$duration: .3s;

[sidebarjs] {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include transform(translate(-100%, 0));
  @include transition(transform 0s $timing $duration);

  &.sidebarjs--is-visible {
    @include transform(translate(0, 0));
    @include transition(transform 0s $timing 0s);

    [sidebarjs-container] {
      @include transform(translate(0, 0));
    }
    [sidebarjs-background] {
      opacity: .2;
    }
  }

  &.sidebarjs--is-moving {
    [sidebarjs-container] {
      @include transition(none);
    }
  }
}

[sidebarjs-background] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  @include transition(opacity $duration $timing);
}

[sidebarjs-container] {
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 300px;
  height: 100%;
  background: #FFF;
  @include flexbox((
    display: flex,
    flex-direction: column
  ), 1 2 3);
  @include flexbox((
    display: flex,
    flex-direction: column
  ), 3);
  @include box-shadow(2px 0 20px rgba(0, 0, 0, 0.2), 1px 0 10px rgba(0, 0, 0, 0.1));
  @include transition(all $timing $duration);
  @include transform(translate(-100%, 0));
}
