$timing: ease;
$duration: .3s;

[sidebarjs] {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-100%, 0);
  transition: transform 0s $timing $duration;

  &.sidebarjs--is-visible {
    transform: translate(0, 0);
    transition: transform 0s $timing 0s;
    [sidebarjs-container] {
      transform: translate(0, 0);
    }
    [sidebarjs-background] {
      opacity: .3;
    }
  }

  &.sidebarjs--is-moving {
    [sidebarjs-container], [sidebarjs-background] {
      transition: none;
    }
  }
}

[sidebarjs-background] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity $duration $timing;
}

[sidebarjs-container] {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  height: 100%;
  background: #FFF;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
  transition: all $timing $duration;
  transform: translate(-100%, 0);
}
