$timing: ease;
$duration: .3s;

@mixin shadow($position) {
  $x: 0;
  @if ($position == 'left') {
    $x: 2px;
  } @else if ($position == 'right') {
    $x: -2px;
  }
  box-shadow: $x 0 4px rgba(0, 0, 0, 0.2);
}

%component--full-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%component--left {
  transform: translate(-100%, 0);
}

%component--right {
  transform: translate(100%, 0);
}

[sidebarjs].sidebarjs--left {
  @extend %component--left;
  [sidebarjs-container] {
    @extend %component--left;
    @include shadow('left');
  }
}

[sidebarjs].sidebarjs--right {
  @extend %component--right;
  [sidebarjs-container] {
    @extend %component--right;
    @include shadow('right');
    margin-left: auto;
  }
}

[sidebarjs-backdrop] {
  @extend %component--full-screen;
  position: absolute;
  background: #000;
  opacity: 0;
  transition: opacity $duration $timing;
  will-change: opacity;
}

[sidebarjs-container] {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  height: 100%;
  background: #fff;
  transition: transform $timing $duration;
  will-change: transform;
}

[sidebarjs] {
  @extend %component--full-screen;
  position: fixed;
  z-index: 9999;
  transition: transform 0s $timing $duration;

  &.sidebarjs--is-visible {
    transform: translate(0, 0);
    transition: transform 0s $timing 0s;
    [sidebarjs-container] {
      transform: translate(0, 0);
    }
  }

  &.sidebarjs--is-moving {
    transition: none;
    [sidebarjs-container], [sidebarjs-backdrop] {
      transition: none;
    }
  }
}
